ul {
    list-style: none;
    padding: 0;
}

.header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 235, 205);
    text-align: center;

    padding: 8px;
    border-bottom: 4px solid;
    margin-bottom: 0px;
    border-color: rgb(255, 235, 205);
    background-color: rgb(166, 133, 197);
}



.recipe-selector{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    color: rgb(166, 133, 197);

    padding: 8px;
    border: 2px solid;
    border-color: rgb(166, 133, 197);
    background-color: rgb(255, 235, 205);
    margin: 8px, 0px;
    margin-bottom: 8px;
}

.img {
    display: block;
    margin-top: 16px;
    border: 2px solid;
    border-color: black;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;

    width: 800px;
    height: 70px;
    padding: 8px;
    border: 2px solid;
    border-color: rgb(255, 235, 205);
    
    margin-bottom: 32px;
}

.ingredients{
    font-family: Arial, Helvetica, sans-serif;
}

.ingredients-list{
    padding: 8px;
    border: 2px solid;
    border-color: rgb(166, 133, 197);
    background-color: rgb(255, 235, 205);
}

.subtitle{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-style: italic;
    color: rgb(255, 235, 205);
    text-align: left;

    padding: 8px;
    border-bottom: 4px solid;
    border-color: rgb(255, 235, 205);
    background-color: rgb(166, 133, 197);
}

.steps{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(166, 133, 197);
}

.description{
    padding-right: 16px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font: 200;
    font-size: medium;
}

.home{
    display: block;
    padding: 8px;
    margin-bottom: 8px;

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(166, 133, 197);
    color: rgb(255, 235, 205);
}