ul {
    list-style: none;
    padding: 0;
}

.header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 235, 205);

    padding: 8px;
    border-bottom: 4px solid;
    border-color: rgb(255, 235, 205);
    background-color: rgb(166, 133, 197);
}

.recipe-selector{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

    padding: 8px;
    border: 2px solid;
    border-color: rgb(166, 133, 197);
    background-color: rgb(255, 235, 205);
    margin: 8px, 0px;
    margin-bottom: 8px;
}

.img {
    display: block;
    margin-top: 16px;
    border: 2px solid;
    border-color: black;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;

    width: 800px;
    height: 70px;
    padding: 8px;
    border: 2px solid;
    border-color: rgb(255, 235, 205);
    
    margin-bottom: 32px;
}
